.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 1s ease-in-out;
}

.logo {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}
